<h1 class="gradient-text"><i class="fas fas-book-reader"></i>DiaryLive</h1>
<div class="section">
    <p class="lead">Write diaries from your daily life.</p>
    <p class="lead">Log in to start and enjoy!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log In with Google
    </a>
</div>